:root {
  --blue: #3498db;
}

.loading-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  animation: loading-container 2.5s;
  justify-content: center;
}

.loader {
  border: 27px solid #f3f3f3; /* Light grey border */
  border-top: 27px solid var(--blue); /* Blue spinner */
  border-radius: 50%; /* Transform the loader into a circle */
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; /* Spin animation */
  position: absolute; /* Position the loader within the container */
  cursor: grab; /* Change cursor to indicate draggable element */
bottom: 0;
}

@keyframes loading-container {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-50%);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-25%);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12.5%);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6.25%);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-3.125%);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 24px;
  font-weight: bold;
}
